.main-header {
    padding: 20px 0;
    background: rgba(0, 0, 0, 0.8);
}
.main-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}
.main-header .logo a{
    color: #fff;
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
}